<mat-card class="card" class="card">
  <app-title [headerTitle]="headerTitle"></app-title>
  <app-image [image]="image"></app-image>
  <mat-card-content>
    <p class="card__text">
      Lorem ipsum dolor sit amet consectetur, adipisicing elit. Fuga voluptate
      voluptatem unde?
    </p>
  </mat-card-content>
  <mat-card-actions class="card__buttonWrapper">
    <button mat-flat-button mat-line class="card__button1">action 1</button>
    <button mat-flat-button class="card__button2">action 2</button>
  </mat-card-actions>
</mat-card>
