<section class="about">
  <h2 class="about__header">About us</h2>

  <p class="about__text" *ngFor="let text of allText$ | async">{{ text }}</p>

  <button mat-raised-button color="primary" (click)="goToMainPage()">
    Go to Main Page
  </button>

  <section *ngFor="let cards of allCards$ | async">
    <app-card
      headerTitle="{{ cards.name }}"
      image="{{ cards.img }}"
      cardText="{{ cards.text }}"
      buttonName="Action 1"
      buttonAction="buttonAction"
    ></app-card>
  </section>
</section>
