<section class="about">
  <h2 class="about__header">About us</h2>

  <p class="about__text" *ngFor="let text of allText$ | async">{{ text }}</p>

  <button mat-raised-button color="primary" (click)="goToMainPage()">
    Go to Main Page
  </button>

  <app-card
    headerTitle="the awesome title"
    image="../../../assets/images/cat.jpg"
    cardText="Lorem ipsum dolor sit amet consectetur, adipisicing elit. Fuga voluptate
    voluptatem unde?"
    buttonName="Action 1"
    buttonAction="buttonAction"
  ></app-card>
  <app-card
    headerTitle="another awesome title"
    image="../../../assets/images/anotherCat.jpg"
    cardText="Another super awesome text"
    buttonName="Action 2"
  ></app-card>
</section>
