.list {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin: 50px auto;

  @media screen and (max-width: 425px) {
    flex-direction: column;
  }
}

.card {
  max-width: 255px;
  height: 245px;
  padding: 24px;
  display: flex;
  justify-content: center;
  margin-bottom: 30px;
}

.image {
  object-fit: cover;
  cursor: pointer;
  width: 100%;
  object-fit: contain;

  &:hover {
    box-shadow: 2px solid black;
  }
}

.link {
  height: 50%;
}
