.list {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
  margin: 50px auto;

  &__container {
    display: flex;
    width: 52%;
    justify-content: space-between;
  }

  &__link {
    height: 50%;
  }

  @media screen and (max-width: 425px) {
    flex-direction: column;
    align-items: center;
  }
}

.card {
  max-width: 255px;
  height: 245px;
  padding: 24px;
  display: flex;
  justify-content: center;
}

.image {
  object-fit: cover;
  cursor: pointer;
  width: 100%;
  object-fit: contain;

  &:hover {
    box-shadow: 2px solid black;
  }
}
