<section class="list">
  <div class="list__container">
    <a
      class="list__link"
      *ngFor="let card of cards"
      routerLink="/card/{{ card.id }}"
    >
      <mat-card class="card">
        <img mat-card-image class="image" src="{{ card.img }}" alt="logo" />
        <mat-icon *ngIf="!card.img">phone</mat-icon>
      </mat-card>
    </a>
  </div>

  <p *ngFor="let text of allText$ | async">{{ text }}</p>

  <section *ngFor="let cards of allCards$ | async">
    <app-card
      headerTitle="{{ cards.name }}"
      image="{{ cards.img }}"
      cardText="{{ cards.text }}"
      buttonName="Action 1"
      buttonAction="buttonAction"
    ></app-card>
  </section>

  <button mat-raised-button color="accent" (click)="goToAboutUs()">
    About us
  </button>

  <button mat-raised-button color="accent" (click)="goToLazyAboutUs()">
    Lazy about us
  </button>
</section>
