<section class="formSection">
  <div class="" *ngIf="card && card?.img; else errorImg">
    <img [src]="card.img" alt="logo" class="formSection__logo" />
  </div>
  <ng-template #errorImg>
    <img [src]="error.img" alt="logo" class="formSection__logo" />
  </ng-template>
  <form action="" [formGroup]="checkoutForm" class="form">
    <section class="form__item">
      <mat-form-field appearance="fill" class="form__input">
        <mat-label for="mobile">Mobile</mat-label>
        <input
          type="tel"
          name="mobile"
          formControlName="phoneNumber"
          matInput
          placeholder="+1-555-555-1234"
          required
        />
        <mat-error *ngIf="phoneNumber.invalid">{{
          getErrorMessage()
        }}</mat-error>
        <mat-icon matSuffix>mode_edit</mat-icon>
      </mat-form-field>
    </section>
    <section class="form__item">
      <mat-form-field appearance="fill" class="form__input">
        <mat-label for="amount">Amount of money</mat-label>
        <input
          type="number"
          name="amount"
          matInput
          formControlName="amountOfMoney"
          required
        />
        <mat-hint>Min 1₽ Max 1000₽</mat-hint>
      </mat-form-field>
    </section>
    <button
      mat-raised-button
      color="primary"
      type="submit"
      (click)="submitForm(); (false)"
    >
      Fill
    </button>
  </form>
</section>
